.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 70px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 270px;
    display: flex;
    flex-direction: column;
    overflow: overlay;
  }
  .cart-empty-image {
    .empty-image {
      width: 238px;
      height: 200px;
      margin-top: 30px;
    }
  }

  button {
    margin-top: auto;
  }
}
