.hero-one {
  height: calc(100vh - 10.5rem);
  background-color: #ff4545;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
  .hero-right {
    position: absolute;
    right: -7%;
    bottom: -1%;
    .hero-img {
      // max-width: 80rem;
      // width: 100%;
      // height: 50rem;
      width: 50rem;
    }
  }
  .hero-left {
    color: #fff;
    position: absolute;
    left: 7%;
    top: 20%;
    .hero-span {
      display: inline-block;
      font-size: 2rem;
      // margin-bottom: 1rem;
    }
    .hero-h1 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      line-height: 1.2;
      font-weight: 600;
    }
    .hero-small {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }
    .hero-button {
      display: inline-block;
      color: #fff;
      font-weight: 700;
      border: 2px solid #fff;
      padding: 0.7rem 1.5rem;
      margin-top: 1rem;
      transition: all 300ms ease-out;
      letter-spacing: 1.5px;
      &:hover {
        color: #ff4545;
        background-color: #fff;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .hero {
    .hero-right .hero-img {
      height: 50rem;
    }

    .hero-left {
      .hero-span {
        font-size: 1.7rem;
      }

      .hero-h1 {
        font-size: 3.5rem;
      }
    }
  }
}

@media only screen and (max-width: 996px) {
  .hero {
    .hero-left {
      top: 30%;
    }

    .hero-right {
      .hero-img {
        height: 35rem;
      }

      right: -10%;
    }
  }
}

@media only screen and (max-width: 567px) {
  .hero {
    .hero-left {
      top: 25%;
    }

    .hero-right {
      .hero-img {
        height: 30rem;
      }

      right: -18%;
    }

    .hero-left {
      .hero-span {
        font-size: 1.6rem;
      }

      .hero-h1 {
        font-size: 3rem;
      }
    }
  }
}
