.hero-one {
  height: calc(100vh - 10.5rem);
  background-color: #ff4545;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
  margin-top: 70px;
  @media screen and (max-width: 800px) {
    margin-top: 60px;
  }

  .hero-right {
    position: absolute;
    right: -7%;
    bottom: -1%;
    @media screen and (max-width: 800px) {
      right: -13%;
      bottom: -5px;
    }
    .hero-img {
      // max-width: 80rem;
      // width: 100%;
      // height: 50rem;
      width: 50rem;
      @media screen and (max-width: 800px) {
        width: 20rem;
      }
    }
  }
  .hero-left {
    color: #fff;
    position: absolute;
    left: 7%;
    top: 20%;
    @media screen and (max-width: 800px) {
      left: 5%;
      top: 15%;
    }
    .hero-span {
      display: inline-block;
      font-size: 2rem;
      // margin-bottom: 1rem;
      @media screen and (max-width: 800px) {
        font-size: 1.3rem;
      }
    }
    .hero-h1 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      line-height: 1.2;
      font-weight: 600;
      @media screen and (max-width: 800px) {
        font-size: 2rem;
        margin-bottom: 0.2rem;
        margin-top: 0.2rem;
      }
    }
    .hero-small {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 800px) {
        font-size: 1.2rem;
      }
    }
    .hero-button {
      display: inline-block;
      color: #fff;
      font-weight: 700;
      border: 2px solid #fff;
      padding: 0.7rem 1.5rem;
      margin-top: 1rem;
      transition: all 300ms ease-out;
      letter-spacing: 1.5px;
      @media screen and (max-width: 800px) {
        font-size: 12px;
        padding: 0.5rem 1rem;
      }
      &:hover {
        color: #ff4545;
        background-color: #fff;
      }
    }
  }
}
