.directory {
  width: 100%;
  padding: 20px 60px;
}
.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .directory {
    padding: 10px;
  }
}
