footer {
  background: #f1f1f1;
  padding: 40px 60px;
  @media screen and (max-width: 800px) {
    padding: 20px 20px;
  }
  .footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    .logo {
      width: 150px;
      @media screen and (max-width: 800px) {
        width: 100px;
        margin-left: 105px;
        margin-bottom: 0px;
      }
    }
    .social-media {
      margin: 20px 0;
      @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
      }
      .fab {
        color: #001a21;
        margin-right: 25px;
        font-size: 22px;
        text-decoration: none;
        transition: 0.3s linear;
        &:hover {
          color: #ff4545;
        }
      }
    }
    .rights-text {
      font-size: large;
      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
    .right-col {
      h1 {
        font-size: 26px;
        @media screen and (max-width: 800px) {
          text-align: center;
        }
      }
      .border {
        width: 100px;
        height: 4px;
        background: #ff4545;
        @media screen and (max-width: 800px) {
          width: 170px;
          margin: auto;
        }
      }
      p {
        font-size: large;
        @media screen and (max-width: 800px) {
          text-align: center;
        }
      }
      .newsletter-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .txtb {
          flex: 1;
          padding: 18px 40px;
          font-size: 16px;
          color: #293043;
          background: #ddd;
          border: none;
          font-weight: 700;
          outline: none;
          border-radius: 30px;
          min-width: 260px;
        }
        .footer-btn {
          padding: 18px 40px;
          font-size: 16px;
          color: #f1f1f1;
          background: #ff4545;
          border: none;
          font-weight: 700;
          outline: none;
          border-radius: 30px;
          margin-left: 20px;
          cursor: pointer;
          transition: opacity 0.3s linear;
          @media screen and (max-width: 800px) {
            margin: auto;
            margin-top: 15px;
            width: 100%;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
